name: Run Unit Tests

on:
  push:
    branches:
      - main
      - setup-task
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          if [ -d "tests" ]; then
            pytest -v
          else
            echo "No tests folder found. Skipping..."
          fi
